iscroller{
	display:block;
	width:100%;
	min-width:20rem;
	max-width:60rem;
	position:absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
}
iscroller [name="wrapper"]{
	position:absolute;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	padding-top:0;
	overflow: hidden;
	-ms-touch-action: none;
	user-select: none;
	text-size-adjust: none;
}
iscroller [name="innerscroller"] {
	position:absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);	
	transform: translateZ(0);
	width:calc(100% - 2rem);
}
iscroller [name="innerscroller"] .hidden{
	visibility: hidden;
}

		iscroller .pullDownLabel, 
		iscroller .pullUpLabel {
			color:#999
		}
		iscroller .pullDown, 
		iscroller .pullUp {
			background:#fff;
			height:40px;
			line-height:40px;
			font-weight:bold;
			font-size:0.8em;
			color:#888
		}
		
		iscroller .pullDown .pullDownIcon, 
		iscroller .pullUp .pullUpIcon {
			display:block;
			float:left;
			opacity:0.4;
			width:40px;
			height:40px;
			background:url(pull_to_refresh.png) 0 0 no-repeat;
			background-size:40px 80px;
			transition:transform 250ms;
		}
		iscroller .pullDown .pullDownIcon {
			transform:rotate(0deg) translateZ(0);
		}

		iscroller .pullUp .pullUpIcon  {
			transform:rotate(-180deg) translateZ(0);
		}
		
		iscroller .pullDown.flip .pullDownIcon {
			transform:rotate(-180deg) translateZ(0);
		}

		iscroller .pullUp.flip .pullUpIcon {
			transform:rotate(0deg) translateZ(0); 
		}
		iscroller .pullDown.loading .pullDownIcon, iscroller .pullUp.loading .pullUpIcon {
				background-position:0 100%;
				transform:rotate(0deg) translateZ(0);
				transition-duration:0ms;
				animation-name:loading;
				animation-duration:1s;
				animation-iteration-count:infinite;
				animation-timing-function:linear;
			}